Source: rspamd
Section: mail
Priority: extra
Maintainer: Vsevolod Stakhov <vsevolod@highsecure.ru>
Build-Depends: fakeroot,make,ca-certificates,less,git,vim,devscripts,debhelper,dpkg-dev,cmake,libevent-dev,libglib2.0-dev,libpcre3-dev,libssl-dev,libcurl4-openssl-dev,libsqlite3-dev,perl,bison,flex,libmagic-dev,git,ragel,libicu-dev,curl,dh-systemd,clang-9,libluajit-5.1-dev,libjemalloc-dev,libsodium-dev,libhyperscan-dev
Standards-Version: 3.9.6
Homepage: https://rspamd.com
Vcs-Git: git://github.com/vstakhov/rspamd.git
Vcs-Browser: https://github.com/vstakhov/rspamd

Package: rspamd
Architecture: any
Depends: adduser, lsb-base, ca-certificates, ${misc:Depends}, ${shlibs:Depends}
Description: Rapid spam filtering system
 Rspamd is a rapid, modular and lightweight spam filter. It is designed to work
 with big amount of mail and can be easily extended with own filters written in
 Lua.

Package: rspamd-dbg
Architecture: any
Section: debug
Depends: rspamd (= ${binary:Version}), ${misc:Depends}, ${shlibs:Depends}
Description: debugging symbols for rspamd
 This package contains the debugging symbols for rspamd.
